html {
  margin: 10;
  background-image: url("./milky-way-2695569_1920.jpg");
  background-color: "#221266";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: aliceblue;
  background-color: rgba(59, 1, 248, 0.3);
  border: 2px groove black;
  border-radius: 1em;
  padding: 10px;
  margin: 5%;
  align-items: center;
  clear: right;
}

p {
  margin: 0, 0, 0, 25px;
  font-weight: lighter;
}

img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 575px;
  right: 400px;
}
.image {
  /* float: right; */
  width: 150px;
  height: auto;
  position: absolute;
  top: 300px;
  right: 200px;
}
.nav {
  text-align: right;
}

.button {
  background-color: rgba(59, 1, 248);
  color: aliceblue;
  font-weight: bolder;
}

.nlink {
  color: aliceblue;
  margin: 1%;
}

.link {
  color: aliceblue;
}

.rotate-image {
  transform: rotate(180deg);
}

.text_center {
  text-align: center;
}

.list {
  text-align: left;
}
