body {
  margin: 10;
  background-image: url("./milky-way-2695569_1920.jpg");
  background-color: "#221266";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: aliceblue;
  background-color: rgba(59, 1, 248, 0.2);
  border: 2px groove black;
  padding: 10px;
  margin: 5%;
}
nav {
}

.button {
  color: rgba(59, 1, 248);
}

p {
  margin: 0, 0, 0, 25px;
}
.nlink {
  position: right;
  color: aliceblue;
  margin: 1%;
}

.link {
  color: aliceblue;
}

.welcome {
}

.home {
}
